.popup__overview-container {
  width: 100%;
  position: relative;
  z-index: 3;
  max-width: 816px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .popup__overview-container {
    max-width: 433px;
  }
}

@media screen and (min-width: 425px) and (max-width: 768px) {
  .popup__overview-container {
    max-width: calc(433 * calc(100vw / 768));
  }
}

@media screen and (max-width: 425px) {
  .popup__overview-container {
    max-width: 240px;
  }
}