.popup__input-container {
  padding: 0;
  border-width: 0;
  margin: 41px auto 0;
  font-size: 14px;
  line-height: 17px;
  width: 100%;
  max-width: 358px;
  display: flex;
  flex-direction: column;
  float: none;
  gap: 2px;
}

@media screen and (max-width: 768px) {
  .popup__input-container {
    margin: 62px auto 0;
    max-width: 238px;
  }
}