.header {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  max-width: 880px;
  min-width: 320px;
  position: relative;
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 425px) and (max-width: 1280px) {
  .header {
    max-width: calc(880 * calc(100vw / 1280));
  }
}

@media screen and (min-width: 425px) {
  .header {
    margin-top: 45px;
    min-height: 74px;
  }
}

@media screen and (max-width: 425px) {
  .header {
    min-height: 56px;
    flex-direction: column-reverse;
  }
}